@import '~bootstrap/dist/css/bootstrap.css';

body {
	background-color: #bcd2e6;
	padding: 0;
	margin: 0;
}

.headerContainer {
	background-image: url(https://preview.redd.it/o6cwlzg3exk41.png?auto=webp&s=eaad71f0c76522a309978bbd65b1a06902e56970);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}


